version: '2'
services:

  proxy:
    image: nginx
    container_name: nginx-proxy
    ports:
      - "80:80"
    # links:
    #   - publisher
    volumes:
      - C:\Users\leo\projects\gsm-docker\proxy\nginx.conf:/etc/nginx/nginx.conf:ro
      #- ./proxy/hosts:/etc/nginx/sites-enabled

  publisher:
    image: leonbobster/php70-apache
    container_name: sdsp
    ports:
      - "8080:80"
      - "9001:9000"
    volumes:
      - ${PUBLISHER_PATH}:/var/www/html
    env_file: .env
    environment:
      XDEBUG_CONFIG: remote_host=${HOST_IP}

  publisher_test:
    image: leonbobster/php70-apache
    ports:
      - "8081:80"
    volumes:
      - ${PUBLISHER_PATH}:/var/www/html
      - C:\Users\leo\projects\gsm-docker\test-host:/etc/apache2/sites-enabled
    env_file: .env

  pdfgen:
    image: leonbobster/php70-apache
    container_name: pdfgen
    ports:
      - "8880:80"
      - "9002:9000"
    volumes:
      - ${PDFGEN_PATH}:/var/www/html
    env_file: .env
    environment:
      XDEBUG_CONFIG: remote_host=${HOST_IP}

  cp:
    image: leonbobster/php56-apache
    container_name: cp
    ports:
      - "8888:80"
      - "9003:9000"
    env_file: .env
    volumes:
      - C:\Users\leo\projects\CompliancePlus:/var/www/html
    environment:
      XDEBUG_CONFIG: remote_host=${HOST_IP}

  publisher_db:
    image: mysql:5.7
    container_name: sdsp-db
    ports:
      - "3307:3306"
    volumes:
      - C:\Users\leo\projects\gsm-docker\db\publisher\data:/var/lib/mysql
      - C:\Users\leo\projects\gsm-docker\db\publisher\config:/etc/mysql/conf.d
      - C:\Users\leo\projects\gsm-docker\scripts:/root/scripts
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1
      MYSQL_DATABASE: publisher

  cp_db:
    image: mysql:5.7
    container_name: cp-db
    ports:
      - "3308:3306"
    volumes:
      - C:\Users\leo\projects\gsm-docker\db\cp\data:/var/lib/mysql
      - C:\Users\leo\projects\gsm-docker\db\cp\config:/etc/mysql/conf.d
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1
      MYSQL_DATABASE: cp_db

  phantomjs:
    image: wernight/phantomjs:2
    ports:
      - "4444:4444"
    links:
      - publisher_test
    entrypoint: phantomjs
    command: --webdriver=4444 --ignore-ssl-errors=true --load-images=false --cookies-file=/tmp/cookies
    #environment:
    #  QT_QPA_PLATFORM: offscreen

  sdsp-cli:
    image: leonbobster/php70-cli
    container_name: sdsp-cli
    working_dir: /app
    volumes:
      - ${PUBLISHER_PATH}:/app

  pdfgen-cli:
    image: leonbobster/php70-cli
    container_name: pdfgen-cli
    working_dir: /app
    volumes:
      - ${PDFGEN_PATH}:/app

  cp-cli:
    image: leonbobster/php56-cli
    container_name: cp-cli
    working_dir: /app
    volumes:
      - ${CP_PATH}:/app

