version: '2'
services:

  proxy:
    image: nginx
    ports:
      - "80:80"
    # links:
    #   - publisher
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      #- ./proxy/hosts:/etc/nginx/sites-enabled
    container_name: gsm_proxy

  publisher:
    image: leonbobster/php70-apache
    ports:
      - "8080:80"
    volumes:
      - ${WEB_ROOT}/SD_AdminPanel:/var/www/html
      - ./dev-host:/etc/apache2/sites-enabled
    env_file: .env
    environment:
      XDEBUG_CONFIG: remote_host=${HOST_IP}
    container_name: gsm_publisher

  publisher_test:
    image: leonbobster/php70-apache
    ports:
      - "8081:80"
    volumes:
      - ${WEB_ROOT}/SD_AdminPanel:/var/www/html
      - ./test-host:/etc/apache2/sites-enabled
    env_file: .env
    container_name: gsm_publisher_test

  api:
    image: leonbobster/php70-apache
    ports:
      - "8088:80"
      - "9001:9000"
    volumes:
      - ${WEB_ROOT}/SDSDetailWebAPI:/var/www/html
      - ./dev-host:/etc/apache2/sites-enabled
    env_file: .env
    environment:
      XDEBUG_CONFIG: remote_host=${HOST_IP}  
    container_name: gsm_api

  pdfgen:
    image: leonbobster/php70-apache
    ports:
      - "8880:80"
      - "9002:9000"
    volumes:
      - ${WEB_ROOT}/SD_PdfGenerate:/var/www/html
      - ./dev-host:/etc/apache2/sites-enabled
    env_file: .env
    environment:
      XDEBUG_CONFIG: remote_host=${HOST_IP} 
    container_name: gsm_pdfgen

  cp:
    image: leonbobster/php56-apache
    ports:
      - "8888:80"
      - "9003:9000"
    env_file: .env
    volumes:
      - ${WEB_ROOT}/CompliancePlus:/var/www/html
      - ./dev-host:/etc/apache2/sites-enabled
    environment:
      XDEBUG_CONFIG: remote_host=${HOST_IP}
    container_name: gsm_cp

  publisher_db:
    image: mysql:5.7
    ports:
      - "3307:3306"
    volumes:
      - ./db/publisher/data:/var/lib/mysql
      - ./db/publisher/config:/etc/mysql/conf.d
      - ./scripts:/root/scripts
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1
      MYSQL_DATABASE: publisher
    container_name: gsm_publisher_db

  cp_db:
    image: mysql:5.7
    ports:
      - "3308:3306"
    volumes:
      - ./db/cp/data:/var/lib/mysql
      - ./db/cp/config:/etc/mysql/conf.d
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1
      MYSQL_DATABASE: cp_db
    container_name: gsm_cp_db

  phantomjs:
    image: wernight/phantomjs:2
    ports:
      - "4444:4444"
    links:
      - publisher_test
    entrypoint: phantomjs
    command: --webdriver=4444 --ignore-ssl-errors=true --load-images=false --cookies-file=/tmp/cookies
    container_name: gsm_phantomjs
    #environment:
    #  QT_QPA_PLATFORM: offscreen

