[mysqldump]
ignore-table=dev001.cronexec
ignore-table=dev001.croninvocation
ignore-table=dev001.cronsds
ignore-table=dev001.dict_labelelement_statement_20180125
ignore-table=dev001.dict_labelelement_statement_copy_02262018_1
ignore-table=dev001.disconnect_log
ignore-table=dev001.disconnect_process
ignore-table=dev001.disconnect_tasks
ignore-table=dev001.dynamodb_revision
ignore-table=dev001.dynamodb_revision_orig
ignore-table=dev001.ec_copy
ignore-table=dev001.error_logs
ignore-table=dev001.formula_process
ignore-table=dev001.localstandard_bckp
ignore-table=dev001.localstandardmodif_bckp
ignore-table=dev001.localstandardmodif_tst
ignore-table=dev001.manufacturer_copy
ignore-table=dev001.mhub_healthcheck
ignore-table=dev001.mhub_healthcheck_log
ignore-table=dev001.mhub_healthcheck_notifications
ignore-table=dev001.mhub_healthcheck_subscriptions
ignore-table=dev001.mhub_report_subscriptions
ignore-table=dev001.parent_sections_20180416
ignore-table=dev001.pdf_backup_dataset
ignore-table=dev001.pdf_backup_run
ignore-table=dev001.pdfgen_access_log
ignore-table=dev001.product_masters_20180503
ignore-table=dev001.progress_bar
ignore-table=dev001.publish_backup_tasks
ignore-table=dev001.publish_context
ignore-table=dev001.publish_session
ignore-table=dev001.sdadminpanel_logs
ignore-table=dev001.sdsdetailview
ignore-table=dev001.sdsmaster_emergency_contact_copy
ignore-table=dev001.temp_stat
ignore-table=dev001.worker_log
ignore-table=dev001.workerlog_lines
ignore-table=dev001.workerlog_main
